/**
 **  General Styling
 **  ---------------
 **/

html, body {
	height: 100%;
}
h1, h2, h3, h4, h5, h6, p, ul, ol, li, a {
	font-family: 'proxima nova', sans-serif;
}


/**
 **  Common Styling
 **  ---------------
 **/
 
.banner {
	height: 124px;
	margin-bottom: 45px;
	position: relative;
	}
	#home .banner {
		margin-bottom: 18px;
	}
	#home .banner.banner-about:last-child {
		margin-bottom: 0;
	}
	.banner h1,
	.banner h2 {
		position: relative;
		z-index: 99;
		margin: 0 auto;
		display: block;
	}
	.banner h1 {
		width: 55%;
		padding: 6px;
		background: white;
		background: rgba(255,255,255,.7);
		font-family: 'proxima nova', sans-serif;
		font-weight: 300;
		font-size: 21px;
		text-transform: uppercase;
		text-align: center;
		top: 34px;
		color: black;
	}
	.banner h2 {
		width: 100%;
		font-family: 'proxima nova', sans-serif;
		font-weight: 400;
		font-size: 24px;
		text-align: center;
		color: #FFF;
		top: 40px;
	}
	.banner img {
		position: absolute;
		top: 0;
		left: 0;
		opacity: .65;
		}
		.banner:hover img {
			opacity: 1;
		}
		.banner:hover a {
			text-decoration: none;
		}
	
	.banner.banner-home {
		margin-top: 36px;
		background-image: url(../images/temp_01.jpg);
		}
		.banner.banner-home a {
			display: block;
			width: 100%;
			height: 100%;
		}
		.banner.banner-home img {
			opacity: 1;
		}

footer {
	margin-top: 18px;
}		

#sidebar {
	padding-right: 27px;
	width: 148px;
	}
	#sidebar .navigation {
		list-style: none;
		margin: 0 0 18px;
		}
		#sidebar .navigation > li {
			border-bottom: 1px solid #999999;
		}
		#sidebar .navigation > li > a {
			padding: 12px 0;
			font-size: 13px;
			display: block;
			color: #666;
		}
		#sidebar .navigation > li:first-child > a {
			border-top: 1px solid #999999;
		}
		#sidebar .navigation > li > a:hover {
			font-weight: bold;
			text-decoration: none;
			color: #333;
		}
		#sidebar .navigation > li.active > a {
			color: #333;
			font-weight: bold;
		}
		#sidebar .navigation > li > ul {
			margin: 0;
			list-style: none;
			}
			#sidebar .navigation > li > ul li a {
				color: #999999;
				font-size: 13px;
				display: block;
				margin-top: -10px;
				margin-bottom: 10px;
				}
				#sidebar .navigation > li > ul li a:hover {
					color: #555555;
					font-weight: bold;
					text-decoration: none;
				}
	
	#query-types,
	#record-types {
		display: none;
	}
	#search-wrap {
		
		}
		#search-wrap h2 {
			display: none;
		}
		#search-wrap input[type="text"] {
			background: #E8E8E8 url(../images/search-icon-small.png) 5px 5px no-repeat;
			padding: 5px 8px;
			width: 138px;
			border: none;
			border-radius: 0;
			font-size: 11px;
			position: relative;
			text-indent: 20px;
			}
			#search-wrap input[type="text"]:focus {
				box-shadow: none;
				background: #EEE url(../images/search-icon-small.png) 5px 5px no-repeat;
			}
			
		#search-wrap #advanced-form p {
			font-size: 9px;
			color: #555555;
		}
		#search-wrap input[type="submit"] {
			display: none;
		}
	
#content {
	
	}
	#content h1 {
		margin: 0 0 45px;
		font-size: 40px;
		color: #555555;
		font-family: 'kepler-std-display', serif;
		font-style: italic;
		font-weight: 300;
	}
	#content .cols {
		color: #555555;
		font-size: 12px;
		line-height: 15px;
		-webkit-column-count: 2;
		-moz-column-count: 2;
		column-count: 2;
		-webkit-column-gap: 18px;
		-moz-column-gap: 18px;
		column-gap: 18px;
		}
		#content p a {
			font-weight: bold;
			color: #555555;
			}
			#content p a:hover {
				color: #363636;
				text-decoration: none;
			}
	#content h3 {
		font-size: 15px;
		line-height: 18px;
		color: #555;
		font-family: 'proxima nova', sans-serif;
		font-weight: 300;
		margin: 0 0 6px;
	}
	#content .description {
		margin-top: 21px;
		font-size: 12px;
		line-height: 15px;
		color: #555;
		font-family: 'proxima nova', sans-serif;
		font-weight: 300;
		margin-bottom: 21px;
	}
	#content .tag-list {
		font-size: 12px;
		line-height: 15px;
		color: #999;
		font-family: 'proxima nova', sans-serif;
		}
		#content .tag-list a {
			color: #999;
			font-weight: 700;
		}
	#content .interview {
		font-size: 12px;
		line-height: 15px;
		color: #555;
		font-family: 'proxima nova', sans-serif;
		font-weight: 300;
	}
		
	#content hr {
		border-top: 1px solid #999;
	}
	
#content .nav-tabs, .nav-pills {
	margin-bottom: 27px;
	}
	#content .nav-pills > li > a {
		font-size: 11px;
		font-family: 'proxima nova', sans-serif;
		font-weight: 300;
		color: #999;
		margin-right: 36px;
		padding: 0;
		}
		#content .nav-pills > li > a:hover,
		#content .nav-pills > li > a:focus {
			font-weight: 700;
			color: #555;
			background: transparent;
		}
		#content .nav-pills > .active > a, 
		#content .nav-pills > .active > a:hover, 
		#content .nav-pills > .active > a:focus {
			font-weight: 700;
			color: #555;
			background: transparent;
		}
		
#download .download {
	position: relative;
	}
	#download .download .download-file {
		text-indent: 40px;
		font-size: 12px;
		line-height: 15px;
		color: #555;
		}
		#download .download .download-file .download-icon {
			background: url(../images/pdf_icon_small.gif) no-repeat;
			width: 36px;
			height: 36px;
			display: block;
			float: left;
			padding-right: 10px;
		}
	
#browse-by-name {}
	#browse-by-name .item {
		min-height: 60px;
		margin-bottom: 27px;
		}
		#browse-by-name .item h2,
		#browse-by-name .item h2 a {
			margin: 0;
			font-size: 24px;
			color: #555555;
			font-family: 'kepler-std-display', serif;
			font-style: italic;
			font-weight: 300;
		}
		#browse-by-name .item h4 {
			margin: 0;
			font-size: 10px;
			line-height: 13px;
			color: #555;
			font-family: 'proxima nova', sans-serif;
			font-weight: 300;
		}	
		
#browse-by-tags {}
	#browse-by-tags .popularity {
		list-style: none;
		margin: 0;
		}
		#browse-by-tags .popularity li a {
			float: left;
			color: #999;
			margin-right: 6px;
			}
			#browse-by-tags .popularity li a:hover {
				color: #555;
				text-decoration: none;
			}
			.popular a {
                font-size:100%;
                }
            .v-popular a {
                font-size:120%;
                }
            .vv-popular a {
                font-size:140%;
                }
            .vvv-popular a {
                font-size:160%;
                }
            .vvvv-popular a {
                font-size:180%;
                }
            .vvvvv-popular a {
                font-size:200%;
                }
            .vvvvvv-popular a {
                font-size:220%;
                }
            .vvvvvvv-popular a {
                font-size:240%;
                }
            .vvvvvvvv-popular a {
                font-size:260%;
                }

#advanced-search-form {}
	#advanced-search-form label {
		font-size: 12px;
		line-height: 15px;
		color: #555;
	}
	#advanced-search-form select {
		margin-bottom: 18px;
		margin-right: 5px;
	}
	#advanced-search-form input[type="text"]{
		margin-bottom: 18px;
	}
	#advanced-search-form input[type="submit"] {
		margin-top: 18px;
		border: #999 1px solid;
		border-radius: 9px;
		padding: 4px 8px;
		background: white;
		font-size: 12px;
	}
	#advanced-search-form .add_search {
		margin-bottom: 18px;
		border: #999 1px solid;
		border-radius: 9px;
		padding: 4px 8px;
		background: white;
		font-size: 12px;
	}


footer > p {
	font-family: 'proxima nova', sans-serif;
	font-weight: 400;
	font-size: 12px;
}		
		
		